__pycache__/
node_modules/
*.class
*.obj
*.bak
*.exe
*.dll
target/
/nbproject/private/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
X3DJSAIL.3.3.classes.jar
X3DJSAIL.4.0.classes.jar
X3DJSAIL.4.0.full.jar
src/main/ppp/john3.x3dj
src/main/ppp/john.x3dj
src/main/ppp/john2.x3dj
src/main/ppp/Gramps8Final.x3dj
src/main/ppp/GrampsAnimations.x3dj
src/main/ppp/walking_man_cc_test.x3dj
src/main/ppp/YehudiMenuJin.x3dj
./blend/venv
./gltf/venv
./src/main/python/venv
./gltf/0skeleton1.bin
./gltf/0skeleton1.gltf
./gltf/0skeleton1.zip
./gltf/AnimatedAssembledHumanSkeleton.glb
./gltf/AnimatedAssembledHumanSkeleton.gltf
./gltf/AnimatedAssembledHumanSkeleton_data.bin
./gltf/glTFHumanoid2.zip
./gltf/Gramps8Final.x3dj
./src/main/dart/net/coderextreme/data/Gramps8Final.dart
./src/main/dart/net/coderextreme/data/HumanoidComplete.dart
./src/main/dart/net/coderextreme/data/HumanoidCompleteShort.dart
./src/main/data/YehudiMenuJin.x3dj
./src/main/go/net/coderextreme/data/HumanoidComplete.go
./src/main/go/net/coderextreme/data/HumanoidCompleteShort.go
./src/main/gura/net/coderextreme/data/HumanoidComplete.ura
./src/main/java/net/coderextreme/data/HumanoidComplete.java
./src/main/jruby/net/coderextreme/data/HumanoidComplete.rb
./src/main/Library/Tests/Components/images/helipad-sheen.ktx2
./src/main/Library/Tests/Components/images/helipad-specular.ktx2
./src/main/Library/Tests/Components/Texturing3D/backpack.nrrd
./src/main/Library/Tests/Components/VolumeRendering/datasets/nrrd/backpack.nrrd
./src/main/Library/Tests/Components/VolumeRendering/datasets/nrrd/body.nrrd
./src/main/Library/Tests/Components/VolumeRendering/datasets/nrrd/brain.nrrd
./src/main/node/Merrifield_100.ply
./src/main/node/Merrifield_fireplace.ply
./src/main/node/mug_space.ply
./src/main/node/net/coderextreme/data/HumanoidComplete.js
./src/main/node/net/coderextreme/data/HumanoidCompleteShort.js
./src/main/node/soaring_eagle.ply
./src/main/node/soaring_eagle.x3d
./src/main/pascal/net/coderextreme/data/Gramps8Final.inc
./src/main/pascal/net/coderextreme/data/HumanoidComplete.inc
./src/main/ppp/john.x3dj
./src/main/ppp/john2.x3dj
./src/main/ppp/john3.x3dj
./src/main/python/net/coderextreme/data/HumanoidComplete.py
./src/main/three2/data/Gramps8Final.three2.js
./src/main/three2/data/john.three2.js
./src/main/three2/data/john2.three2.js
./src/main/three2/data/john3.three2.js
./src/main/three2/data/Tufani5Final.three2.js
./src/main/three2/data/Tufani8Final.three2.js
