__pycache__/
node_modules/
*.class
*.obj
*.bak
target/
/nbproject/private/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
X3DJSAIL.3.3.classes.jar
X3DJSAIL.4.0.classes.jar
X3DJSAIL.4.0.full.jar
src/main/ppp/john3.x3dj
src/main/ppp/john.x3dj
src/main/ppp/john2.x3dj
src/main/ppp/Gramps8Final.x3dj
src/main/ppp/GrampsAnimations.x3dj
src/main/ppp/walking_man_cc_test.x3dj
src/main/ppp/YehudiMenuJin.x3dj
